.bag-button {
  background-color: rgb(94, 209, 94);
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 150px;
}
#wishlist-button {
  border-radius: 10px;
  height: 25px;
  width: 170px;
  text-transform: uppercase;
}


